<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %} {% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link 
      rel="stylesheet"
      href="{{ url_for('static', filename='css/login.css')}}"
      />
  </head>
  <body>
    
    <header>
      <form id="demo-2" action="{{ url_for('search') }}" method="GET">
        <input type="search" placeholder="Search" name="value" />
      </form>

      {% if session['username'] %}
      <section class="info-user">
        

        <span class="text-light">Usuario: {{session['username']}}</span>
        <a href="{{url_for('user_profile')}}">
          <input type="button" value="User Profile" class ="btn btn-primary"/>
        </a>

        
        <a href="{{ url_for('logout') }}" >
          <input type="button" class="btn btn-danger" value="LOG OUT">
        </a>
      </section>
      {% else%}
        <a href="{{ url_for('sign_in') }}" class="signin">SIGN IN</a>
      {% endif%}
      
        
    </header>
   
    <center>
      <section class="navbar">
        <button class="nav-button" onclick="accion()">
          Menu
        </button>
        <a href="{{url_for('about')}}" class="nav-enlace1 desaparece">
          About Us
        </a>
        <a class="nav-enlace2 desaparece">☆</a>
        <a href="{{url_for('menu')}}" class="nav-enlace1 desaparece">Menu</a>
        <a class="nav-enlace2 desaparece">☆</a>
        <a href="{{ url_for('index') }}">
          <img
            class="logo desaparece"
            id="logo"
            src="{{url_for('static', filename='img/logo_1.png')}}"
          />
        </a>
        <a class="nav-enlace2 desaparece">☆</a>
        <a href="{{url_for('wishlist')}}" class="nav-enlace1 desaparece"
          >Wishlist</a
        >
        <a class="nav-enlace2 desaparece">☆</a>
        <a href="{{url_for('store')}}" class="nav-enlace1 desaparece">store</a>
      </section>
    </center>
    <script>
      function accion() {
        var ancla = document.getElementsByClassName("nav-enlace1");
        for (var i = 0; i < ancla.length; i++) {
          ancla[i].classList.toggle("desaparece");
        }
      }
    </script>
     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    
      {% block body %}
      {% endblock %}
    
    <footer></footer>
  </body>
</html>
