{% extends "public/templates/public_template.html" %}
{% block title %} About Us {% endblock %}

{% block body %}
<div class="container rounded d-flex justify-content-center">
    
    <br>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="about_us text-center text-light">
                    <main role="main" class="inner cover">
                        <!--<img src="logo_1.png" width="200px">-->
                        <h1 class="cover-heading">Sobre Nosotros</h1>
                        <p class="lead">Especializados en la venta y creacion de bebidas de calidad, nos
                            complace decir que contamos con una gran variedad de productos para que nuestros clientes se
                            sientan completamente satisfechos con las bebidas que estan tomando y claro no solo pensamos en
                            la satisfacion del clientes sino tambien en su bolsillo.</p>
                    </main>
                </div>
            </div>
        </div>
        <br>
        <div class="row text-white">
            <div class="col-sm-12">
                <section class="mbr-section form1 cid-qyvf9K0GGo" id="form1-4" data-rv-view="791">




                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="title col-12 col-lg-8">
                                <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-4 text-center">
                                    CONTACT US</h2>

                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="media-container-column col-lg-8" data-form-type="formoid">
                                <div data-form-alert="" hidden="">
                                    Thanks for filling out the form!
                                </div>

                                <form class="mbr-form" action="https://mobirise.com/" method="post"
                                    data-form-title="Mobirise Form"><input type="hidden" data-form-email="true"
                                        value="R46ImfT8lRYLhZq6vpVE63L0V35bOdmwHjgn18Tp/HdDujD3JfWe/8bm7YjE2vjZZ7JFQMRNRIinYQUh3aNa2qi1GshxArFhHAffNuiFsZiNLfMCF8KElmS7V7lbqBIL">
                                    <div class="row row-sm-offset">
                                        <div class="col-md-4 multi-horizontal" data-for="name">
                                            <div class="form-group">
                                                <label class="form-control-label mbr-fonts-style display-7"
                                                    for="name-form1-4">Name</label>
                                                <input type="text" class="form-control" name="name"
                                                    data-form-field="Name" required="" id="name-form1-4">
                                            </div>
                                        </div>
                                        <div class="col-md-4 multi-horizontal" data-for="email">
                                            <div class="form-group">
                                                <label class="form-control-label mbr-fonts-style display-7"
                                                    for="email-form1-4">Email</label>
                                                <input type="email" class="form-control" name="email"
                                                    data-form-field="Email" required="" id="email-form1-4">
                                            </div>
                                        </div>
                                        <div class="col-md-4 multi-horizontal" data-for="phone">
                                            <div class="form-group">
                                                <label class="form-control-label mbr-fonts-style display-7"
                                                    for="phone-form1-4">Phone</label>
                                                <input type="tel" class="form-control" name="phone"
                                                    data-form-field="Phone" id="phone-form1-4">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" data-for="message">
                                        <label class="form-control-label mbr-fonts-style display-7"
                                            for="message-form1-4">Message</label>
                                        <textarea type="text" class="form-control" name="message" rows="7"
                                            data-form-field="Message" id="message-form1-4"></textarea>
                                    </div>

                                    <span class="input-group-btn"><button href="" type="submit"
                                            class="btn btn-form btn-primary display-4">SEND</button></span>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>





</div>

{% endblock %}