{% extends "public/templates/public_template.html" %}
{% block title %} Search {% endblock %}

{% block body %}
<div class="container rounded">
    <h2 class="text-white">Articulos encontrados:</h2>
    <br/>
    {% if data|length <= 0 %}
        <h3> Not Found </h3>
    {% else %}
    <div class="row">
        {% for product in data %}
            {% if product[5] == 'active' %}
            <div class="col-12 col-sm-6 col-lg-4 ">
                <div class="card mb-5" style="max-width: 540px">
                  <form action="" method="GET">
                    <div class="row g-0">
                      <div class="col-md-5">
                        <img
                          src="{{url_for('static', filename='img/productos/')}}{{product[2]}}.jpg"
                          class="img-fluid rounded-start img-tumbnail"
                          alt=""
                        />
                      </div>
                      <div class="col-md-7">
                        <div class="card-body d-flex flex-column">
                          <h5 class="card-title ">{{product[1]}}</h5>
                          <p class="card-text text-centered">{{product[3]}}</p>
                          <p class="card-text mt-auto">
                            <small class="text-muted mb-3">${{product[4]}}</small>
                          </p>
                          <button
                            type="submit"
                            class="mt-auto btn btn-primary btn-sm"
                            name="buy"
                            value="{{ product[2] }}"
                          >
                            Comprar
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
          
              </div>
            {% endif %}
        {% endfor %} 
        

    </div>
    {% endif %}

</div>
{% endblock %}