{% extends "public/templates/public_template.html" %}
{% block title %} Store {% endblock %}

{% block body %}



<div class="container rounded">
  <br/>
    <h2>Lista de productos:</h2>
    <br/>
    {% for product in datos %}
        {% if product[5] == 'active' %}
            <article>
                <form action="" method="GET">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                          <div class="col-md-5">
                            <img src="{{url_for('static', filename='img/productos/')}}{{product[2]}}.png" class="img-fluid rounded-start" alt="">
                          </div>
                          <div class="col-md-7">
                            <div class="card-body d-flex flex-column">
                              <h5 class="card-title">{{product[1]}}</h5>
                              <p class="card-text text-centered">{{product[3]}}</p>
                              <p class="card-text mt-auto "><small class="text-muted mb-3">{{product[4]}}</small></p>
                              <button type="submit" class="mt-auto btn btn-primary btn-sm" name="buy" value="{{ product[2] }}">Comprar</button>
                            </div>
                          </div>
                        </div>
                      </div>

                </form>
            </article>
        {% endif %}
    {% endfor %}

    <br/>
</div>
{% endblock %}