{% extends "public/templates/public_template.html" %} {% block title %} Perfil
del usuario {% endblock %} {% block body %}
<div class="container rounded">
  <div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
      <div class="sidebar-heading border-bottom bg-light p-4 align-self-center">
        <i class="icon ion-md-settings mr-2"></i> General
      </div>
      <div class="list-group list-group-flush">
        <a
          id="form-user"
          class="
            list-group-item list-group-item-action list-group-item-light
            p-2
          "
          href="#!"
        >
          <i class="icon ion-md-person mr-2"></i> Usuario</a
        >
        {%if session['type'] == 1 %}

        <div class="sidebar-heading border-bottom bg-light p-4">ADMIN</div>

        <a id="form-product"class="
            list-group-item list-group-item-action list-group-item-light
            p-2" href="#!"><i class="icon ion-md-pricetag mr-2"></i>Productos</a>
        {% elif session['type'] == 2 %}
        <div class="sidebar-heading border-bottom bg-light p-4">
          SUPER ADMIN
        </div>
        <a id="form-product" class="list-group-item list-group-item-action list-group-item-light p-2"href="#!">
          <i class="icon ion-md-pricetag mr-2"></i>Productos</a>
        <a id="form-users" class="list-group-item list-group-item-action list-group-item-light p-2"href="#!">
          <i class="bi bi-person-workspace mr-2"></i></i></i>Usuarios</a>


        {% endif %}
      </div>
    </div>

    <!-- Page content wrapper-->
    <div id="page-content-wrapper" class="bg-white">
      <!-- Top navigation-->
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <div class="container-fluid d-flex">
          <button class="btn btn-primary" id="sidebarToggle">
            Toggle Menu
          </button>
          <p class="justify-content-center">Configuracion</p>
        </div>
      </nav>
      <!-- Page content-->
      <div class="container-fluid bg-white">
        <!-- USER -->
        <section id="user-control-form">
          <div class="container d-flex justify-content-center">
            <div class="row">
              <h1 class="mt-4">Configuracion de Usuario</h1>
              <div class="col-lg-12">
                <div class="d-flex justify-content-center">
                  <i
                    class="icon ion-md-contact"
                    id="icon-logo"
                    size="large"
                  ></i>
                </div>
              </div>
              <form
                action=""
                id="user-form"
                method="POST"
                role="form"
                style="display: block"
              >
                <div class="form-group">
                  <label for="inputexample" class="form-label">Username:</label>
                  <input
                    type="text"
                    name="username"
                    id="username"
                    tabindex="1"
                    class="form-control"
                    value="{{ user_data[2] }}"
                    readonly
                  />
                </div>
                <div class="form-group">
                  <label for="inputexample" class="form-label">Correo:</label>
                  <input
                    type="email"
                    name="email"
                    id="e-mail"
                    tabindex="2"
                    class="form-control"
                    value="{{ user_data[6] }}"
                  />
                </div>
                <div class="form-group">
                  <label for="inputexample" class="form-label"
                    >Contraseña:</label
                  >
                  <input
                    type="password"
                    name="password"
                    id="pass"
                    tabindex="3"
                    class="form-control"
                    value=""
                  />
                </div>
                <div class="row d-flex justify-content-center">
                  <div class="col-5">
                    <button class="form-control" type="submit" name="submit" value="normal-user-update">Aplicar</button>
                    
                  </div>
                  <div class="col-5">
                    <input
                      type="submit"
                      name="user-update"
                      id="user-update"
                      tabindex="4"
                      class="form-control btb btn-login"
                      value="RESET"
                    />
                  </div>
                </div>
              </form>
            </div>
          </div>
          <br />
        </section>
        {% if session['type'] >= 1 %}
        <!-- PRODUCTOS -->
        <section id="product-control-form" style="display: none;">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h1 class="mt-4">Configuracion de Productos</h1>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="table-responsive">
                  <table
                    id="dataTableProduct"
                    class="table table-bordered table-striped table-sm mb-0"
                    cellspacing="0"
                    width="100%"
                  >
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">NOMBRE</th>
                        <th scope="col">CODIGO</th>
                        <th scope="col">INFORMACION</th>
                        <th scope="col">PRECIO</th>
                        <th scope="col">ESTADO</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for product in product_data %}
                      <tr>
                        <td>{{product[0]}}</td>
                        <td>{{product[1]}}</td>
                        <td>{{product[2]}}</td>
                        <td>{{product[3]}}</td>
                        <td>{{product[4]}}</td>
                        <td>{{product[5]}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          
          <div class="container d-flex justify-content-end">
            <button
            type="button"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#addProductModal"
            >
            Agregar producto
          </button>
        </div>
        <br />
      </section>

      <!-- PRODUCT MODAL -->
      
      <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Producto</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form
            action="{{ url_for('user_profile')}}"
            method="POST"
            id="form-product"
          >
            <div class="modal-body">
              {{ form_product.csrf_token }}
              <div class="form-group">
                <label for="product-id" class="col-form-label">ID:</label>
                {{form_product.ID(class="form-control", id="product-id")}}
              </div>
              <div class="form-group">
                <label for="product-name" class="col-form-label"
                  >Nombre:</label
                >
                {{form_product.nombre(class="form-control",
                id="product-name")}}
              </div>
              <div class="form-group">
                <label for="product-code" class="col-form-label"
                  >CODIGO:</label
                >
                {{form_product.codigo(class="form-control",
                id="product-code")}}
              </div>
              <div class="form-group">
                <label for="product-info" class="col-form-label"
                  >INFORMACION:</label
                >
                {{form_product.info(class="form-control",rows="3",
                id="product-info")}}
              </div>
              <div class="form-group">
                <label for="product-price" class="col-form-label"
                  >PRECIO:</label>
                {{form_product.precio(class="form-control",
                id="product-price")}}
              </div>
              <div class="form-group">
                <label for="product-state" class="col-form-label"
                  >ESTADO:</label>
                {{form_product.estado(id="modal-form-select",
                class="form-control form-control-lg")}}
              </div>
            </div>
            
            <div class="modal-footer d-flex justify-content-around bd-highlight">
              <div class="bd-highlight">
                <button class="btn btn-danger" type="submit" name="submit" value="del-product">Eliminar</button>
              </div>
              <div class="bd-highlight">
                <div class="btn">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal">
                    Close
                  </button>
                </div>
              </div>
              <div class="bd-highlight">
                <button class="btn btn-primary" type="submit" name="submit" value="update-product">Actualizar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- MODAL ADD PRODUCT -->
    <div
      class="modal fade"
      id="addProductModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Producto</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form
            action="{{ url_for('user_profile')}}"
            method="POST"
            id="form-add-product"
          >
            <div class="modal-body">
              <div class="form-group">
                <label for="product-name" class="col-form-label"
                  >Nombre:</label>
                {{form_product.nombre(class="form-control",
                id="add-product-name")}}
              </div>
              <div class="form-group">
                <label for="product-code" class="col-form-label"
                  >CODIGO:</label
                >
                {{form_product.codigo(class="form-control",
                id="add-product-code")}}
              </div>
              <div class="form-group">
                <label for="product-info" class="col-form-label"
                  >INFORMACION:</label
                >
                {{form_product.info(class="form-control",rows="3",
                id="add-product-info")}}
              </div>
              <div class="form-group">
                <label for="product-price" class="col-form-label"
                  >PRECIO:</label
                >
                {{form_product.precio(class="form-control",
                id="add-product-price")}}
              </div>
              <div class="form-group">
                <label for="product-state" class="col-form-label"
                  >ESTADO:</label
                >
                {{form_product.estado(id="add-modal-form-select",
                class="form-control form-control-lg")}}
              </div>
            </div>
            <div class="modal-footer d-flex">
              <div class="btn align-self-start">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Close
                </button>
              </div>

              <button class="btn btn-primary" type="submit" name="submit" value="add-product">Agregar</button>
              
            </div>
          </form>
        </div>
      </div>
    </div>


      {% endif %}

      {% if session['type'] == 2 %}
      <!-- USUARIOS -->
      <section id="users-control-form" style="display: none;">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h1 class="mt-4">Configuracion de Usuarios</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="table-responsive">
                <table
                  id="dataTableUsers"
                  class="table table-bordered table-striped table-sm mb-0"
                  cellspacing="0"
                  width="100%"
                >
                  <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">TIPO</th>
                      <th scope="col">USERNAME</th>
                      <th scope="col">FECHA CREACION</th>
                      <th scope="col">ESTADO</th>
                      <th scope="col">CORREO</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for user in users_data %}
                    <tr>
                      <td>{{user[0]}}</td>
                      <td>{{user[1]}}</td>
                      <td>{{user[2]}}</td>
                      <td>{{user[4]}}</td>
                      <td>{{user[5]}}</td>
                      <td>{{user[6]}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="container d-flex justify-content-end">
          <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#addUserModal"
          >
          Agregar Usuario
        </button>
      </div>
        <br/>
      </section>

      <!-- MODAL USER FORM -->
      
      <div
        class="modal fade"
        id="UserModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Usuario</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form
              action="{{ url_for('user_profile')}}"
              method="POST"
              id="form-user"
            >
              <div class="modal-body">
                <div class="form-group">
                  <input type="hidden" id="p-username" value="" name="p-username">
                  <label for="user-tipo" class="col-form-label">TIPO:</label>
                  <select name="user-type" id="user-type" class="form-select">
                    <option value="0" selected>NORMAL</option>
                    <option value="1">ADMIN</option>
                    <option value="2">SUPER-ADMIN</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="User-name" class="col-form-label">Username:</label>
                  <input type="text" class="form-control" id="user-name" name="user-name">  
                </div>
                <div class="form-group">
                    <label for="user-password" class="col-form-label">Password:</label>
                    <input type="text" class="form-control" id="user-password" name="user-password">
                </div>
                <div class="form-group">
                  <label for="user-state" class="col-form-label">Estado:</label>
                  <select name="user-state" id="user-state" class="form-select">
                    <option value="active" selected>ACTIVO</option>
                    <option value="deactive">DESACTIVADO</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="user-email" class="col-form-label">EMAIL:</label>
                  <input type="email" class="form-control" id="user-email" name="user-email">
                </div>
              </div>
              <div class="modal-footer d-flex justify-content-around bd-highlight">
                <div class="hd-highlight">
                  <button class="btn btn-danger" type="submit" name="submit" value="user-delete">Eliminar</button>
                </div>
                <div class="hd-highlight">
                  <div class="btn">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-dismiss="modal"
                    >
                      Close
                    </button>
                  </div>
                  
                </div>
                <div class="hd-highlight">
                  <button class="btn btn-primary" type="submit" name="submit" value="user-update">Actualizar</button>
                  
                </div>

                
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- MODAL ADD USER -->
      
      <div
        class="modal fade"
        id="addUserModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Usuario</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form
              action="{{ url_for('user_profile')}}"
              method="POST"
              id="form-add-user"
            >
            <div class="modal-body">
              <div class="form-group">
                <label for="User-name" class="col-form-label">Username:</label>
                <input type="text" class="form-control" id="user-name" name="user-add-name">  
                </div>
                <div class="form-group">
                  <label for="user-password" class="col-form-label">Password:</label>
                  <input type="text" class="form-control" id="user-password" name="user-add-password">
              </div>
              <div class="form-group">
                <label for="user-state" class="col-form-label">Estado:</label>
                <select name="user-add-state" id="user-add-state" class="form-select">
                  <option value="active" selected>ACTIVO</option>
                  <option value="deactive">DESACTIVADO</option>
                </select>
              </div>
              <div class="form-group">
                <label for="user-email" class="col-form-label">EMAIL:</label>
                <input type="email" class="form-control" id="user-email" name="user-add-email">
              </div>
              <div class="form-group">
                <label for="user-add-tipo" class="col-form-label">TIPO:</label>
                <select name="user-add-type" id="user-add-type" class="form-select">
                  <option value="0" selected>NORMAL</option>
                  <option value="1">ADMIN</option>
                  <option value="2">SUPER-ADMIN</option>
                </select>
              </div>
            </div>
              <div class="modal-footer d-flex">
                <div class="btn align-self-start">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                </div>

                <button class="btn btn-primary" type="submit" name="submit" value="add-user">Agregar</button>
                
              </div>
            </form>
          </div>
        </div>
      </div>
      
      {% endif %}
      
      
      

        
        <!-- <div class="modal-body">
             <div class="container-fluid">
               <form>
                 <div class="row">
                   <div class="col-5">
                     <label for="label" class="form-label">ID</label>
                     <input type="text" name="id" id="modal-id">
                   </div>
                 </div>

               </form>
             </div>
           </div> -->
      </div>
    </div>
  </div>
</div>
<script src="{{url_for('static', filename='js/scripts.js')}}"></script>
{% endblock %}
